# Configurações do Banco de Dados MySQL
HOST=127.0.0.1
USER=root
PASSWORD=sua_senha_aqui
DATABASE=bostask

# Token do Bot do Telegram (obtido via @BotFather)
BOT_TOKEN=seu_bot_token_aqui

# URL da API REST para o bot despachar tarefas
URL_TASK=http://localhost:3000/task
