node_modules
npm
.env
.angular
node_modules/
/node_modules


build/
dist
/dist
dist/
out/
.angular/
/coverage/
.next/
.nuxt/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.cache/
.npm/
.eslintcache
.stylelintcache